/* General Reset */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: inherit;
}

html {
    margin: 0px;
    padding: 0px;
    height: 100%;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: linear-gradient(30deg, #1c345e, #223b6a, #2d4c8f);
    overflow: hidden;
    position: relative;
}

/* Adding twinkling stars */
.star {
    position: absolute;
    width: 3px;
    height: 3px;
    background-color: white;
    border-radius: 50%;
    animation: twinkling 2s infinite ease-in-out alternate;
    z-index: -1;
}

/* Keyframes for twinkling stars */
@keyframes twinkling {
    0% {
        opacity: 0.2;
        transform: scale(0.8);
    }
    50% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 0.2;
        transform: scale(0.8);
    }
}

/* Generate multiple stars */
body::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    animation: star-placement 0s ease-out;
}

@keyframes star-placement {
    from {
        transform: translateX(-50%);
    }
    to {
        transform: translateX(50%);
    }
}

.moon {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    position: relative;
    background-image: linear-gradient(30deg, #13223f, #0e1a30);
}

.moon::before {
    content: "";
    background-color: rgba(0, 0, 0, 0);
    border-radius: 50%;
    z-index: -1;
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
    animation: eclipse-animation 3.2s linear infinite alternate;
}

@keyframes eclipse-animation {
    0%{
        box-shadow: none;
        transform: translate(-30px, 30px) scale(0.9);
    }
    50% {
        transform: translate(0px, 0px) scale(1.02);
        box-shadow: 0 0 20px #f9f3f2, 0 0 100px 12px #f3c7c0;
        background-color: #e7d2ce;
    }
    100% {
        transform: translate(30px, -30px) scale(0.9);
        box-shadow: none;
    }
}

@media (min-width: 768px) {
    .moon {
        width: 160px;
        height: 160px;
    }
}